#main{
    width: 100%;
    font-style: "Proxima Nova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* overflow-y: scroll; */
    
}
#box1{
    width: 100%;
    height: 350px;
    position: static;
    z-index: 1;
    /* border: 1px solid black; */
    background: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}
#Navbar{
    display: flex;
    width:100%;
    height: 60px;
   
}
#logoDiv{
    width:10%;
    height:90%;
    margin-left: 1%;
}
#logo{
    width:100%;
    height:90%;
    
    
   color: white
}
#post{
    width:15%;
    margin-left: 4%;
    /* width:10%; */
    height: 80%;
   
    margin-top: 6px;
    background-color: rgb(10,190,129);
}
.btn{
    color:white;
    width:13%;
    height: 80%;
   
    margin-top: 6px;
  
    border: none;
    margin-right: 1%;

}
#add{
   background-color: blue;
}
#sign-in{
    
    background-color:rgb(23,21,68);
}
#sign-up{
    background-color:rgb(10,190,129);
}
input{
    width: 10%;
    margin-left: 8%;
    margin-top: 9px;
   
}
#badge{
    color: white;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    width: 4%;
    height: 60%;
}
#search{
    margin-top: 9px;
    height: 91%;
}
#welcome{
    margin: auto;
    width: 80%;
    height: 40px;
    position: static;
    z-index: -1;
    /* border: 1px solid red; */
    color: rgb(174,216,234);
    font-size: 25px;
    text-align: center;
    margin-top: 1%;
}
#explore{
   display: flex;
   justify-content: space-between;
    text-align: center;
    color: grey;
    margin: auto;
    width: 80%;
    height: 30px;
    /* border: 1px solid yellow; */
    
}

#card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    width: 80%;
    height: 150px;
    
    /* position: static;
    z-index: -1; */
    margin-left: 10%;
    /* border: 1px solid red; */
    background-color: rgb(23,21,68);
}
#card-left{
 width: 20%;
 height: 100%;
 /* border: 1px solid yellow; */

}
#card-right{
display: flex;
flex-direction:row;
flex-wrap: nowrap;

 width: 80%;
 height: 100%;
 

}
.card-text1{
    font-size: 10px;
}

#footer{
    
    
    width: 100%;
    height: 60px;
    display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  /* right: 30px; 
  margin-left: 2%; */
  margin-top:550px;
  z-index: 99; 
  border: none; 
  outline: none; 
    
    background-color: rgb(70, 71, 73);
    color: rgb(238, 231, 231);
   
}
#box2{
display: grid;
margin: auto;
background-color: rgb(39,41,45);
grid-template-columns: repeat(4,24%);
/* grid-auto-flow: row;     */
width: 80%;
/* border:1px solid yellow; */
/* position: sticky;
z-index: 1; */
background-color: rgb(46,48,53);



}
#footer > h4{
    margin-top: 20px;
    margin-left: 2.5%;
    font-size: 15px;
}
#app-btn{
 margin-left: 5%;  
 margin-top:1px ; 
 width: 180px;
 height: 55px;

 background-color: rgb(71,74,81);
 padding-top: 15px;
 padding-left: 45px;
}
#footer > h1{
    margin-top: -5px;
    margin-left: 5%;
}
#cardBody{
   
    background-color: rgb(38,96,110);
    height: 60px;
}
.col1{
    background-color: rgb(23,21,68);
    margin-left: 1%;
    /* transition: transform .2s */
}
.col:hover{
    transform: scale(0.5)
}
.t1{
    text-align: center;
    font-size: 15px;
    line-height: 6px;
}
.t1-col{
    color: white;
}
.t2-col{
    font-size: 10px;
    color: grey;
}
#nav2{
    display: flex;
    width:80%;
    height: 50px;
    margin: auto;
    justify-content: space-between;
    /* z-index: -1; */
}
.Dropdown-bt{
    width: fit-content;
    color: grey;
    background-color:rgb(23,21,68) ;
}
#sel1{
    margin-top: 10px;
    width: 40px;
    height: 30px;
}
.nav2-left{
    width: 50%;
    /* border:1px solid green; */
    /* z-index: -1; */
}
.nav2-right{
    display: flex;
    width:50%;
    /* border:1px solid green; */
    justify-content: end;
    /* z-index: -1; */
}
.vid{
    margin-top: 15px;
    width: 40px;
    height: 20px;
    color:grey;
    /* border: 1px solid red; */
}
.imgDiv1{
    width: 100%;
    /* height: 70%; */
    /* position: relative; */
    /* border: 1px solid red; */
}
.textDiv1{
    width: 100%;
   
    color: white
    /* position: relative; */
}
.Image1{
    width: 100%;
    /* height: 70%; */
    /* position: absolute; */
}
/* .tool1{

} */
#box2-start{
    background-color: rgb(46,48,53);
}
#nav2-start{
   position: sticky;
    background-color:rgb(23,21,68);
    /* z-index: -1; */
   
   
}
#tagline{
    color: white;
    text-align: center;
}
#inputSearch{
    border: none;
    /* position: sticky; */
    
}
#resultDiv{
    width:50%;
    position: fixed;
    margin-left: 25%;
    background-color: rgb(60,66,75);
    z-index: 1000;
    color:white;
    /* transition: 2s ease-out 100ms; */
    
}
/* #resultDiv:hover{
    background-color:white ;
} */
#MovieTitle{
 margin-top: 2%;
 margin-left: 3%;
 line-height: 15px;
}
#go-top{
    
    margin-left: 96%;
    display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; 
z-index: 99; 
border: none; 
outline: none; 
background-color: grey;

   
   }